[project]
name = "portfolio-tracker"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[tool.uv]
package = true

[project.scripts]
main = "app:main"

[dependency-groups]
dev = [
    "ruff==0.14.13",
    "ty==0.0.12",
]
